#backend
backend/node_modules
backend/.vscode
backend/.env
backend/src/.env

#frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.vscode
frontend/.env




frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local