.home-container {
  width: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
}

/********************DISPLAY POST****************************/
.display-posts {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 250px;
  height: 340px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.card:hover {
  transform: translateY(10px);
}
.card:before {
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #a3bae5, #dff1ff);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover:before {
  opacity: 0.6;
}

.card:hover .post-line-ellipsis,
.card:hover .bottom-side {
  opacity: 0;
}
.card:hover .post-container {
  box-shadow: none;
}

.post-container {
  width: 250px;
  height: 340px;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 2px 2px #e5e5e5; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.top-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bottom-side {
  width: 250px;
}

.post-img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 220px;
  height: 190px;
  border-radius: 10px;
  object-fit: cover;
}

.post-line-ellipsis {
  width: 220px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(20, 61, 150, 0.747);
}

.post-price {
  width: 220px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.post-price p {
  color: rgba(20, 61, 150, 0.747);
}

.post-function {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  padding-bottom: 20px;
}
.card:hover .post-function {
  opacity: 1;
}
.post-function button {
  border-radius: 10px;
  background-color: #a3bae5d0;
  z-index: 3;
  width: 100px;
  height: 40px;
  margin: 5px 0 5px 0;
  text-align: center;
  color: white;
  font-size: 17px;
}
.post-function button:hover {
  border: solid 2px white;
}

/*_______________________________________________________*/
