/* .PostManage-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.PostManage-component {
  margin-top: 40px;
  width: 1050px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
} */
/****************POSTS ITEM*************************/
/* .PostManage-list {
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.PostManage-post-list {
  width: 800px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.PostManage-post-list-item {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.PostManage-post-list-item-img {
  width: 200px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PostManage-post-list-item-img img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
.PostManage-post-list-item-info {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PostManage-post-list-item-info p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 0.5px rgb(206, 212, 218);
}
.PostManage-post-list-item-ellipsis {
  width: 480px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: solid 0.5px rgb(206, 212, 218);
}

.PostManage-post-list-item-button {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.PostManage-post-list-item:hover .PostManage-post-list-item-button {
  opacity: 1;
}

.PostManage-post-list-item-button button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 550;
  text-align: center;
  color: whitesmoke;
  margin: 3px 0 3px 0;
}
.PostManage-post-list-item-button button:hover {
  cursor: pointer;
} */
/*________________________________________________*/

/****************STATISTIC*************************/
/* 
.PostManage-statistic {
  width: 200px;
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.PostManage-statistic-title p {
  width: 200px;
  text-align: center;
  font-size: 18px;
  color: rgba(20, 61, 150, 0.747);
  font-weight: 600;
}

.PostManage-statistic-item p {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  font-size: 15px;
} */
/*_________________________________________*/
/*****************DELETE Modal***************/
/* .delete-modal-div {
  width: 100%;
  height: fit-content;
}
.delete-modal-div p {
  font-size: 14px;
  display: block;
}
.delete-modal-button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-modal-button button {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  width: 90px;
  height: 40px;
  font-size: 14px;
  color: whitesmoke;
}

.delete-modal-button button:hover {
  cursor: pointer;
} */
