.post-component-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.post-component-div {
  margin-top: 20px;
  width: 800px;
}

/******************TAB*************************/
.post-component-tab-root {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.post-component-tabsListWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 10px 15px 10px 15px;
}
.post-component-tab-body {
  border-top: solid 1px #c4c4c4;
  width: 100%;
  padding-top: 20px;
}
